@import 'tailwindcss';

/* tua animação custom (porque animate-fade-in não existe por padrão) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fadeIn 0.25s ease-out both;
}
